
<h2 align="center" style="color:#428bca">Editing Post</h2>

<div align="center"> <%= render 'form', post: @post %> </div>
<div align="center">
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>